.serviceBox {
  color: #fff;
  background: #075f73;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 0 0 30px;
  border-radius: 15px;
  position: relative;
  z-index: 1;
}
.serviceBox:before {
  content: "";
  background: #fff;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}
.serviceBox .service-icon svg.e-font-icon-svg {
  width: 36px;
}
.serviceBox .service-icon {
  background: #075f73;
  font-size: 35px;
  text-align: left;
  line-height: 180px;
  width: 100px;
  height: 130px;
  padding: 0 0 0 30px;
  margin: -60px 0 8px;
  border-radius: 20px 50% 80% 0 / 20px 50% 50% 0;
}
.serviceBox .title {
  background: #075f73;
  font-size: 19px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 20px 15px 22px;
  margin: 0;
  border-radius: 30px 30px 100% 100%;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}
.serviceBox .description {
  color: #777;
  font-size: 14px;
  line-height: 23px;
  margin: 0 25px;
}
/*
* style 02
*/
.serviceBox-2 {
  color: #02c504;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 0 0 30px 20px;
  position: relative;
}
.serviceBox-2:before {
  content: "";
  border: 3px dotted #02c504;
  border-top-style: solid;
  border-bottom-style: solid;
  border-right: none;
  border-radius: 30px 0 0 30px;
  position: absolute;
  width: 35%;
  top: 90px;
  bottom: 7px;
  left: 0;
}
.serviceBox-2 .service-icon-2 {
  font-size: 48px;
  line-height: 95px;
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border: 3px solid #02c504;
  position: relative;
}
.serviceBox-2 .service-content-2 {
  padding: 20px 10px;
  border: 3px solid #02c504;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.serviceBox-2 .service-content-2:before,
.serviceBox-2 .service-content-2:after {
  content: "";
  background: #02c504;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 86px;
  left: 35%;
}
.serviceBox-2 .service-content-2:after {
  border-radius: 0;
  transform: rotate(45deg);
  top: auto;
  bottom: 4px;
}
.serviceBox-2 .title-2 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 10px;
}
.serviceBox-2 .description-2 {
  color: #0e0e0e;
  font-size: 14px;
  line-height: 23px;
}
